<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Img/retro_A&G.png" type="image/x-icon">
    <link rel = "stylesheet" href = "../css/styles.css">
    <title>Retro A&G|Que Buscamos</title>
</head>
<body>
    <header class="encabezado">
        <h1>ARTICULOS QUE BUSCAMOS</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="quienesSomos.html">Quienes somos</a></li>
                <li><a href="queBuscamos.html">Que buscamos</a></li>
                <li><a href="registrarse.html">Registrarse</a></li>
                <li><a href="contactos.html">Contactos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="tabla">
            <h3>Encuentre en nuestro catálogo la amplia variedad
                de antigüedades que compramos y contáctenos.
            </h3>
            <table border="2" cellpadding="2" cellspacing="2">
                <tr>
                    <th>Tipo Articulo</th>
                    <th>Articulo</th>
                    <th>Nombre Art</th>
                    <th>Condicion/Año</th>
                    <th>Precio/Referencia</th>
                </tr>
                <tr>
                    <td>Antiguedad</td>
                    <td>Reloj</td>
                    <td>Rolex Daytona</td>
                    <td>Medio</td>
                    <td>$400.000</td>
                </tr>
                <tr>
                    <td>Gaming</td>
                    <td>Consola</td>
                    <td>PlayStation 4</td>
                    <td>Semi nuevo</td>
                    <td>$45.000</td>
                </tr>
                <tr>
                    <td>Gaming</td>
                    <td>Consola</td>
                    <td>GameBoy Color</td>
                    <td>Usado sin caja</td>
                    <td>$12.000</td>
                </tr>
                <tr>
                    <td>Antiguedad</td>
                    <td>Moneda</td>
                    <td>Un Argentino de Oro</td>
                    <td>1888</td>
                    <td>US$500</td>
                </tr>
                <tr>
                    <td>Gaming</td>
                    <td>Juego</td>
                    <td>Super Campeones Family</td>
                    <td>Semi nuevo</td>
                    <td>$2000</td>
                </tr>
                <tr>
                    <td>Antiguedad</td>
                    <td>Lapicera</td>
                    <td>Waterman 18k</td>
                    <td>Completo</td>
                    <td>$80.000</td>
                </tr>
            </table>
            <h4>Muchos artículos pueden de hecho haber pasado por múltiples distribuidores de antigüedades a lo largo de la cadena del producto antes de llegar en una tienda al por menor. Por su propia naturaleza, en estos establecimientos se venden objetos raros y únicos, mientras que, a su vez, sus propietarios están dispuestos a comprar artículos, incluso a particulares. La calidad de estos objetos puede variar de muy baja a extremadamente alta y cara, dependiendo de la naturaleza y de la localización de la tienda.
            </h4>
        </div>
    </main>
    <footer>
        <div class="margenfooter">
            <div>
                <h3 class="footersecciones">Quienes somos</h3>
                <ul class="letrasfooter">
                    <li><a href="#">Web design</a></li>
                    <li><a href="#">Development</a></li>
                    <li><a href="#">Hosting</a></li>
                </ul>
            </div>
            <div>
                <h3 class="footersecciones">Que buscamos</h3>
                <ul class="letrasfooter">
                    <li><a href="#">Company</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Legacy</a></li>
                </ul>
            </div>
            <div>
                <h3 class="footersecciones">Registrarse</h3>
                <ul class="letrasfooter">
                    <li><a href="#">Job openings</a></li>
                    <li><a href="#">Employee success</a></li>
                    <li><a href="#">Benefits</a></li>
                </ul>
            </div>
            <div>
                <h3 class="footersecciones">Faqs</h3>
                <ul class="letrasfooter">
                    <li><a href="#">Web design</a></li>
                    <li><a href="#">Development</a></li>
                    <li><a href="#">Hosting</a></li>
                </ul>
            </div>
            <div>
                <h3 class="footersecciones">Contactos</h3>
                <ul class="letrasfooter">
                    <li><a href="#">Web design</a></li>
                    <li><a href="#">Development</a></li>
                    <li><a href="#">Hosting</a></li>
                </ul>
            </div>
            <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                <p class="copyright">R&G © 2022</p>
            </div>
        </div>
    </footer>   
</body>

</html>