<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Img/retro_A&G.png" type="image/x-icon">
    <link rel = "stylesheet" href = "../css/styles.css">
    <title>Retro A&G|Quienes Somos</title>
</head>
<body>
    <header class="encabezado">
        <h1>Quienes somos</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="quienesSomos.html">Quienes somos</a></li>
                <li><a href="queBuscamos.html">Que buscamos</a></li>
                <li><a href="registrarse.html">Registrarse</a></li>
                <li><a href="contactos.html">Contactos</a></li>
            </ul>
        </nav>
    </header>
    <main class="texto">
        <section>
            <div class="imagen">
               <img src="../Img/fotoJet2.jpg" alt="Antiguedades y gaming">
               <P>Somos el negocio de compra y venta de antigüedades y gaming más prestigioso de zona.</P>
            </div>   
        </section>
        <h2>Sobre nosotros</h2>
        <h4>
            <p>Somos una empresa familiar, con más de 20 años de experiencia, dedicados a la compra de antigüedades, objetos de colección,  arte, alhajas, brillantes, relojes, platería y gaming.</p>
            <p>Desde nuestros comienzos, ofrecemos tasación sin cargo y servicio de retiro de productos en el día.</p>
            <p>Somos una empresa consolidada con local comercial situado en Recoleta.</p>
            <p>Con nosotros podrá obtener la cotización más alta del mercado, debido a nuestros vínculos con prestigiosos coleccionistas internacionales.</p>
        </h4>
    </main>
    <footer>
        <div class="margenfooter">
            <div>
                <h3 class="footersecciones">Quienes somos</h3>
                <ul class="letrasfooter">
                    <li><a href="#">Web design</a></li>
                    <li><a href="#">Development</a></li>
                    <li><a href="#">Hosting</a></li>
                </ul>
            </div>
            <div>
                <h3 class="footersecciones">Que buscamos</h3>
                <ul class="letrasfooter">
                    <li><a href="#">Company</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Legacy</a></li>
                </ul>
            </div>
            <div>
                <h3 class="footersecciones">Registrarse</h3>
                <ul class="letrasfooter">
                    <li><a href="#">Job openings</a></li>
                    <li><a href="#">Employee success</a></li>
                    <li><a href="#">Benefits</a></li>
                </ul>
            </div>
            <div>
                <h3 class="footersecciones">Faqs</h3>
                <ul class="letrasfooter">
                    <li><a href="#">Web design</a></li>
                    <li><a href="#">Development</a></li>
                    <li><a href="#">Hosting</a></li>
                </ul>
            </div>
            <div>
                <h3 class="footersecciones">Contactos</h3>
                <ul class="letrasfooter">
                    <li><a href="#">Web design</a></li>
                    <li><a href="#">Development</a></li>
                    <li><a href="#">Hosting</a></li>
                </ul>
            </div>
            <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                <p class="copyright">R&G © 2022</p>
            </div>
        </div>
    </footer>
</body>

</html>